body {
    background-color: #FFE8D6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

mark {
    background-color: yellow;
    color: black;
}

h1 {
    color: #6B705C;
    text-align: center;
    margin-top: 1em;
}

#container {
    text-align: center;
    margin-top: 8em;
    color: #6B705C;
}

.wordInputElem {
    border-color: #979DAC;
    border-radius: 0.5em;
    font-size: larger;
    font-style: italic;
    background-color: #f0d8c8;
}

.outputElem {
    margin-top: 4em;
    color: #6B705C;
    font-size: larger;
}

.analyzeElem {
    margin-top: 2em;
    color: #6B705C;
    border-radius: 1.5em;
    background-color: transparent;
    font-weight: normal;
    font-style: italic;
    border-color: #979DAC;
}

.analyzeElem:hover {
    cursor: pointer;
    box-shadow: 5px 10px 20px #DDA15E;
    text-decoration: turquoise;
}

.checkbox.hide {
    width: 30px;
}

.checkbox label {
    line-height: 52px;
}

.footer {
    text-align: center;
    margin-top: 19.5em;
    color: #6B705C;
}